<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<form action="/categories" method="POST">
  <div class="container">
    <h1>Input Category</h1>
    <label for="name">Category name:</label>
    <input type="text" id="name" name="name"><br><br>

    <br><br>
    <button type="submit" class="save">Save</button>
  </div>
</form>
<p>

</body>
</html>
